h1 {
  text-align:center;
  width:100rem;
  margin:1rem auto;
  color:white;
  font: normal 45pt "Futura"
}
h2 {
  width:50rem;
  margin:1rem auto;
  text-align:center;
  color:#BE737E;
  font:normal 12pt "Futura"
}
label {
  text-align:center;
  color:black;
  font: normal 10pt "Futura"
}

button, .form-item {
    font-size: 1.2rem;
    margin-top: 1rem;
    vertical-align: middle;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: .9rem;
}
